# --- Firmware / Embedded C++ Clutter ---
*.hex
*.elf
*.o
.build/
build/
*.pyc

# --- Backend / Python Clutter ---
__pycache__/
.env
venv/
ENV/

# --- Frontend / Node.js Clutter ---
node_modules/
dist/
.DS_Store